<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<%= form_for @attendee do |f| %>
<p>Questions:</p>
<table border="1">
  <tr>
    <th>&nbsp;</th>
  <% @event.attendees.each do |t| %>
    <th><%= h t.name %></th>
  <% end %>
  </tr>
  <% @event.questions.each do |q| %>
  <tr>
    <td><%= h q.text %></td>
    <% @event.attendees.each do |t| %>
      <% if t.id == @attendee.id %>
      <% @ans = t.answer_for q %>
        <td>
        <%= fields_for "attendee[answers][]", @ans do |answer_f| %>
        <%= answer_f.select :answer,  
        options_for_select([['-', 0], 
                          ['X',1], 
                          ['△',2],
                          ['O',3]], @ans.answer) %>
        <% end %>
        </td>
        
      <% else %>
    <td><%= sign (t.answer_for q).answer %></td>
      <% end %>
      <% end %>
  </tr>
  <% end %>
</table>
<%= f.submit  "Submit" %>
<% end %>

<%= link_to 'Cancel', (@event) %>