<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>Questions:</p>
<table border="1">
  <tr>
    <th>&nbsp;</th>
  <% for t in @event.attendees %>
    <th><%= link_to t.name, edit_attendee_path(t) %></th>
  <% end %>
  </tr>
  <% @event.questions.each do |q| %>
  <tr>
    <td><%= h q.text %></td>
    <% for answer in q.answers %>
    
    <td><%=  answer.answer %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<div>
   <%= form_for Attendee.new  do |f| %>
   <%= f.label :name, "Your name:" %>
   <%= f.text_field :name %>
   <%= f.hidden_field :event_id, {:value=>@event.id} %>
   <%= f.submit  "Join" %>
<% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
