<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>Questions:</p>
<ul>
  <% @event.questions.each do |q| %>
  <li>
	<%= q.text %>
  <select name='question_<%= q.id %>'>
  	<option value='0'>-</option>
    <option value='1'>X</option>
    <option value='2'>△</option>
    <option value='3'>O</option>
  </select>
  </li>
  <% end%>
</ul>

<div>
<%= form_for Attendee.new do |f| %>
   <%= f.label :name, "Your name:" %>
   <%= f.text_field :name %>
   <%= f.hidden_field :event_id, {:value=>@event.id} %>
   <%= f.submit  "Join" %>
<% end %>    
</div>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
