<p id="notice"><%= notice %></p>

<p class="event_title">
  <%= @event.title %>
</p>

<p class="event_desc">
  <%= @event.description %>
</p>

<table class="event_table">
  <tr>
    <th>&nbsp;</th>
  <% for t in @event.attendees %>
    <th><%= link_to t.name, edit_attendee_path(t) %></th>
  <% end %>
  </tr>
  <% @event.questions.each do |q| %>
  <% 
  if @best["#{q.id}"] == 0
    @class = "selected"
  else
    @class = ""
  end
  %>
  <tr class="<%= @class %>">
    <td class="question_texts"> <%= q.text %></td>
    <% for answer in q.answers %>
    
    <td><%=  @signs[answer.answer] %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<div>
   <%= form_for Attendee.new  do |f| %>
   <%= f.label :name, "Your name:" %>
   <%= f.text_field :name %>
   <%= f.hidden_field :event_id, {:value=>@event.id} %>
   <%= f.submit  "Join" %>
<% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
